 
body {
  background-image: url('https://img.freepik.com/free-vector/realistic-galaxy-background_52683-12122.jpg?size=626&ext=jpg');
  background-size:cover;
}

/* 
.card { 
  margin-top: 6rem;
  color: blue;
}

h4{
  font-family: cursive, Lucida;
  font-size: xx-large;
  color: blue;
}

#headerDude{
  color: deeppink;
}

*/